[submodule "3rdparty/doctest"]
	path = 3rdparty/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "3rdparty/benchmark"]
	path = 3rdparty/benchmark
	url = https://github.com/google/benchmark.git
[submodule "3rdparty/thread_pool"]
	path = 3rdparty/thread_pool
	url = https://github.com/progschj/ThreadPool.git
